/* Universal Styling */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: "Red Hat Display", sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

/* Removing the desktop image */
.hero-left,
.hero-right {
  display: none;
}

/* Main styling */
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meet-info {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.logo {
  margin: 1rem auto;
}

.hero {
  width: 405px;
  transform: translateX(-19px);
}

.group-chat > h2 {
  color: #28283d;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  line-height: 55px;
}
